{% extends "base.html" %}

{% block title %}Crear Artículo{% endblock %}

{% block content %}
    <h1>Nuevo Artículo</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.titulo.label(class="form-label") }}
            {{ form.titulo(class="form-control", placeholder="Título") }}
        </div>
        <div class="form-group">
            {{ form.contenido.label(class="form-label") }}
            {{ form.contenido(class="form-control", placeholder="Contenido") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
